body {
  margin: 0;
  font-family: "Roboto", sans-serif, "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);
  color: rgba(10, 10, 10, 0.568);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
